<li class="movie">
  <h1><%= link_to movie.title, movie %></h1>
  <p>Directed by <span class="thick-text"><%= movie.director %></span></p>
  <p>Script by <span class="thick-text"><%= movie.writer %></span></p>
  <p>Starring <span class="thick-text"><%= movie.actors %></span></p>
  
  <p>find me in views/movies/_movie.html.erb</p>
</li>