<li>
	<span class="thick-text">MPAA Rating</span>
	<select class="form-control">
	    <option value="empty">All</option>
	    <option value="one">One</option>
	    <option value="two">Two</option>
	    <option value="three">Three</option>
	    <option value="four">Four</option>
	    <option value="five">Five</option>
	</select>
</li>